Documenttoolkit/Solution/Workflows/DocumentAutomationCanvasAppFileImporter-36A0D496-8322-EF11-840B-6045BDCD3DA1.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "impersonation": {
          "source": "invoker"
        },
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "aib_currentcommondataserviceconnection"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "56656ed4-bfaf-4a0d-8860-14ef51485243"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "AIModelId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "MimeType",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "file": {
                  "title": "File Content",
                  "type": "object",
                  "x-ms-dynamically-added": true,
                  "description": "Please select file or image",
                  "x-ms-content-hint": "FILE",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "contentBytes": {
                      "type": "string",
                      "format": "byte"
                    }
                  }
                },
                "text_2": {
                  "title": "ServiceRequestIdentifier",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2"
              ]
            }
          }
        }
      },
      "actions": {
        "Create_a_new_document_processing": {
          "runAfter": {
            "Get_Configuration": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "634bc1d6-38a4-4faf-bdc5-9fe9c6a1117e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "aib_documentautomationprocessings",
              "item/aib_name": "@utcNow()",
              "item/aib_DocumentAutomationConfigurati@odata.bind": "@outputs('Get_Configuration')?['body/@odata.id']",
              "item/aib_filemimetype": "@triggerBody()['text_1']",
              "item/aib_filename": "@triggerBody()?['file']?['name']",
              "item/aib_processingstatus": 914700000
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Upload_attachment": {
          "runAfter": {
            "Create_a_new_document_processing": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2e1360f7-3bb7-4548-be3a-28c6c158bcd5"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateEntityFileImageFieldContent",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "aib_documentautomationprocessings",
              "recordId": "@outputs('Create_a_new_document_processing')?['body/aib_documentautomationprocessingid']",
              "fileImageFieldName": "aib_filedata",
              "item": "@base64ToBinary(triggerBody()?['file']?['contentBytes'])",
              "x-ms-file-name": "@triggerBody()?['file']?['name']"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "inputs"
              ]
            }
          }
        },
        "Check_content_type_is_valid": {
          "actions": {
            "Update_document_processing_to_start_extraction": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "92af7f7e-4663-48c8-b6c1-c5611f8bdeb5"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "aib_documentautomationprocessings",
                  "recordId": "@outputs('Create_a_new_document_processing')?['body/aib_documentautomationprocessingid']",
                  "item/aib_processingstatus": 914700001,
                  "item/tc_ServiceRequest@odata.bind": "@if(not(empty(triggerBody()['text_2'])), outputs('Service_Request_Lookup'), null)"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Service_Request_Lookup": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Update_document_processing_invalid_document": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "61702b6c-63f3-46a3-95e4-9cabbb957afe"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps_1",
                    "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "aib_documentautomationprocessings",
                    "recordId": "@outputs('Create_a_new_document_processing')?['body/aib_documentautomationprocessingid']",
                    "item/aib_processingstatus": 914700005,
                    "item/tc_ServiceRequest@odata.bind": "@if(not(empty(triggerBody()['text_2'])), outputs('Service_Request_Lookup'), null)"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "or": [
              {
                "not": {
                  "equals": [
                    "@triggerBody()['text_1']",
                    "application/pdf"
                  ]
                }
              },
              {
                "not": {
                  "equals": [
                    "@triggerBody()['text_1']",
                    "image/jpeg"
                  ]
                }
              },
              {
                "not": {
                  "equals": [
                    "@triggerBody()['text_1']",
                    "image/png"
                  ]
                }
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "8aac7da1-abd0-4b7d-a341-268415f0a484"
          },
          "type": "If"
        },
        "Get_Configuration": {
          "runAfter": {
            "Initialize_varServiceRequest": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3c03f371-e353-4162-9700-6640b5df6f1c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "aib_documentautomationconfigurations",
              "recordId": "@triggerBody()['text']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_varServiceRequest": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "ddb2e6b0-927d-4d18-96b6-540114947968"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varServiceRequest",
                "type": "string"
              }
            ]
          }
        },
        "Service_Request": {
          "actions": {
            "Condition": {
              "actions": {
                "Get_ServiceRequest_by_ServiceRequestNumber": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "6940a1a0-1192-4766-8946-a8c06ce5335a"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "tc_servicerequests",
                      "$select": "tc_id",
                      "$filter": "tc_id eq '@{triggerBody()['text_2']}'"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Check_if_Service_Request_Exists": {
                  "actions": {
                    "Apply_to_each": {
                      "foreach": "@outputs('Get_ServiceRequest_by_ServiceRequestNumber')?['body/value']",
                      "actions": {
                        "Set_varServiceRequest": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "61fefeaf-e01b-4731-aae0-43f4064cbe00"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "varServiceRequest",
                            "value": "@items('Apply_to_each')?['tc_servicerequestid']"
                          }
                        }
                      },
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "b6392a36-aa2b-4391-94b2-2f77459cd641"
                      },
                      "type": "Foreach"
                    }
                  },
                  "runAfter": {
                    "Get_ServiceRequest_by_ServiceRequestNumber": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Add_a_new_ServiceRequest_row": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "0f96bd52-569e-4f94-85f6-732b342a79bf"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps_1",
                            "operationId": "CreateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "tc_servicerequests",
                            "item/tc_id": "@triggerBody()['text_2']"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Set_varServiceRequest_2": {
                        "runAfter": {
                          "Add_a_new_ServiceRequest_row": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "6e9df9e2-d567-4ffe-bcf9-125225e11b53"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "varServiceRequest",
                          "value": "@outputs('Add_a_new_ServiceRequest_row')?['body/tc_servicerequestid']"
                        }
                      }
                    }
                  },
                  "expression": {
                    "greaterOrEquals": [
                      "@length(outputs('Get_ServiceRequest_by_ServiceRequestNumber')?['body/value'])",
                      1
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "597ea3d9-e8d6-489a-aa39-bdb5d4b861a7"
                  },
                  "type": "If"
                }
              },
              "runAfter": {},
              "expression": {
                "equals": [
                  11,
                  2
                ]
              },
              "metadata": {
                "operationMetadataId": "d4622371-2dfb-4f20-852a-7146a6bd8a83"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Upload_attachment": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@empty(triggerBody()['text_2'])",
              false
            ]
          },
          "metadata": {
            "operationMetadataId": "4aef41af-25aa-47c0-b9c1-85aa889abc2d"
          },
          "type": "If"
        },
        "Service_Request_Lookup": {
          "runAfter": {
            "Service_Request": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c22eb425-0ba0-42ee-bf74-7b59b2bda3ec"
          },
          "type": "Compose",
          "inputs": "tc_servicerequests(@{triggerBody()['text_2']})"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}