Documenttoolkit/Solution/Workflows/DocumentAutomationProcessor-61F6DB6C-6A40-EB11-A812-000D3AF77DE6.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "impersonation": {
          "source": "invoker"
        },
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "aib_currentcommondataserviceconnection"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_record_is_created,_updated_or_deleted": {
          "metadata": {
            "operationMetadataId": "b473cb75-b4cd-4e1b-af22-463022b62a3c"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "aib_documentautomationprocessing",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "aib_processingstatus",
              "subscriptionRequest/filterexpression": "aib_processingstatus eq 914700001"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_attachment": {
          "runAfter": {
            "Initialize_variable_TableRows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "27ac71b4-0102-4c72-877d-791cf7ec7b37"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetEntityFileImageFieldContent",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "aib_documentautomationprocessings",
              "recordId": "@triggerOutputs()?['body/aib_documentautomationprocessingid']",
              "fileImageFieldName": "aib_filedata"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Create_document_processing_data": {
          "runAfter": {
            "Get_document_processing": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "23885397-0b6e-49c9-958b-357b81eaa941"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "aib_documentautomationdatas",
              "item/aib_name": "@triggerOutputs()?['body/aib_name']",
              "item/aib_data1": "@variables('DataDictionary')?['Data1']",
              "item/aib_data10": "@variables('DataDictionary')?['Data10']",
              "item/tc_data100": "@variables('DataDictionary')?['Data100']",
              "item/tc_data101": "@variables('DataDictionary')?['Data101']",
              "item/tc_data102": "@variables('DataDictionary')?['Data102']",
              "item/tc_data103": "@variables('DataDictionary')?['Data103']",
              "item/tc_data104": "@variables('DataDictionary')?['Data104']",
              "item/tc_data105": "@variables('DataDictionary')?['Data105']",
              "item/tc_data106": "@variables('DataDictionary')?['Data106']",
              "item/tc_data107": "@variables('DataDictionary')?['Data107']",
              "item/tc_data108": "@variables('DataDictionary')?['Data108']",
              "item/tc_data109": "@variables('DataDictionary')?['Data109']",
              "item/aib_data11": "@variables('DataDictionary')?['Data11']",
              "item/tc_data110": "@variables('DataDictionary')?['Data110']",
              "item/tc_data111": "@variables('DataDictionary')?['Data111']",
              "item/tc_data112": "@variables('DataDictionary')?['Data112']",
              "item/tc_data113": "@variables('DataDictionary')?['Data113']",
              "item/tc_data114": "@variables('DataDictionary')?['Data114']",
              "item/tc_data115": "@variables('DataDictionary')?['Data115']",
              "item/tc_data116": "@variables('DataDictionary')?['Data116']",
              "item/tc_data117": "@variables('DataDictionary')?['Data117']",
              "item/tc_data118": "@variables('DataDictionary')?['Data118']",
              "item/tc_data119": "@variables('DataDictionary')?['Data119']",
              "item/aib_data12": "@variables('DataDictionary')?['Data12']",
              "item/tc_data120": "@variables('DataDictionary')?['Data120']",
              "item/tc_data121": "@variables('DataDictionary')?['Data121']",
              "item/tc_data122": "@variables('DataDictionary')?['Data122']",
              "item/tc_data123": "@variables('DataDictionary')?['Data123']",
              "item/tc_data124": "@variables('DataDictionary')?['Data124']",
              "item/tc_data125": "@variables('DataDictionary')?['Data125']",
              "item/tc_data126": "@variables('DataDictionary')?['Data126']",
              "item/tc_data127": "@variables('DataDictionary')?['Data127']",
              "item/tc_data128": "@variables('DataDictionary')?['Data128']",
              "item/tc_data129": "@variables('DataDictionary')?['Data129']",
              "item/aib_data13": "@variables('DataDictionary')?['Data13']",
              "item/tc_data130": "@variables('DataDictionary')?['Data130']",
              "item/tc_data131": "@variables('DataDictionary')?['Data131']",
              "item/tc_data132": "@variables('DataDictionary')?['Data132']",
              "item/tc_data133": "@variables('DataDictionary')?['Data133']",
              "item/tc_data134": "@variables('DataDictionary')?['Data134']",
              "item/tc_data135": "@variables('DataDictionary')?['Data135']",
              "item/tc_data136": "@variables('DataDictionary')?['Data136']",
              "item/tc_data137": "@variables('DataDictionary')?['Data137']",
              "item/tc_data138": "@variables('DataDictionary')?['Data138']",
              "item/tc_data139": "@variables('DataDictionary')?['Data139']",
              "item/aib_data14": "@variables('DataDictionary')?['Data14']",
              "item/tc_data140": "@variables('DataDictionary')?['Data140']",
              "item/tc_data141": "@variables('DataDictionary')?['Data141']",
              "item/tc_data142": "@variables('DataDictionary')?['Data142']",
              "item/tc_data143": "@variables('DataDictionary')?['Data143']",
              "item/tc_data144": "@variables('DataDictionary')?['Data144']",
              "item/tc_data145": "@variables('DataDictionary')?['Data145']",
              "item/tc_data146": "@variables('DataDictionary')?['Data146']",
              "item/tc_data147": "@variables('DataDictionary')?['Data147']",
              "item/tc_data148": "@variables('DataDictionary')?['Data148']",
              "item/tc_data149": "@variables('DataDictionary')?['Data149']",
              "item/aib_data15": "@variables('DataDictionary')?['Data15']",
              "item/tc_data150": "@variables('DataDictionary')?['Data150']",
              "item/aib_data16": "@variables('DataDictionary')?['Data16']",
              "item/aib_data17": "@variables('DataDictionary')?['Data17']",
              "item/aib_data18": "@variables('DataDictionary')?['Data18']",
              "item/aib_data19": "@variables('DataDictionary')?['Data19']",
              "item/aib_data2": "@variables('DataDictionary')?['Data2']",
              "item/aib_data20": "@variables('DataDictionary')?['Data20']",
              "item/aib_data21": "@variables('DataDictionary')?['Data21']",
              "item/aib_data22": "@variables('DataDictionary')?['Data22']",
              "item/aib_data23": "@variables('DataDictionary')?['Data23']",
              "item/aib_data24": "@variables('DataDictionary')?['Data24']",
              "item/aib_data25": "@variables('DataDictionary')?['Data25']",
              "item/aib_data26": "@variables('DataDictionary')?['Data26']",
              "item/aib_data27": "@variables('DataDictionary')?['Data27']",
              "item/tc_data28": "@variables('DataDictionary')?['Data28']",
              "item/tc_data29": "@variables('DataDictionary')?['Data29']",
              "item/aib_data3": "@variables('DataDictionary')?['Data3']",
              "item/tc_data30": "@variables('DataDictionary')?['Data30']",
              "item/tc_data31": "@variables('DataDictionary')?['Data31']",
              "item/tc_data32": "@variables('DataDictionary')?['Data32']",
              "item/tc_data33": "@variables('DataDictionary')?['Data33']",
              "item/tc_data34": "@variables('DataDictionary')?['Data34']",
              "item/tc_data35": "@variables('DataDictionary')?['Data35']",
              "item/tc_data36": "@variables('DataDictionary')?['Data36']",
              "item/tc_data37": "@variables('DataDictionary')?['Data37']",
              "item/tc_data38": "@variables('DataDictionary')?['Data38']",
              "item/tc_data39": "@variables('DataDictionary')?['Data39']",
              "item/aib_data4": "@variables('DataDictionary')?['Data4']",
              "item/tc_data40": "@variables('DataDictionary')?['Data40']",
              "item/tc_data41": "@variables('DataDictionary')?['Data41']",
              "item/tc_data42": "@variables('DataDictionary')?['Data42']",
              "item/tc_data43": "@variables('DataDictionary')?['Data43']",
              "item/tc_data44": "@variables('DataDictionary')?['Data44']",
              "item/tc_data45": "@variables('DataDictionary')?['Data45']",
              "item/tc_data46": "@variables('DataDictionary')?['Data46']",
              "item/tc_data47": "@variables('DataDictionary')?['Data47']",
              "item/tc_data48": "@variables('DataDictionary')?['Data48']",
              "item/tc_data49": "@variables('DataDictionary')?['Data49']",
              "item/aib_data5": "@variables('DataDictionary')?['Data5']",
              "item/tc_data50": "@variables('DataDictionary')?['Data50']",
              "item/tc_data51": "@variables('DataDictionary')?['Data51']",
              "item/tc_data52": "@variables('DataDictionary')?['Data52']",
              "item/tc_data53": "@variables('DataDictionary')?['Data53']",
              "item/tc_data54": "@variables('DataDictionary')?['Data54']",
              "item/tc_data55": "@variables('DataDictionary')?['Data55']",
              "item/tc_data56": "@variables('DataDictionary')?['Data56']",
              "item/tc_data57": "@variables('DataDictionary')?['Data57']",
              "item/tc_data58": "@variables('DataDictionary')?['Data58']",
              "item/tc_data59": "@variables('DataDictionary')?['Data59']",
              "item/aib_data6": "@variables('DataDictionary')?['Data6']",
              "item/tc_data60": "@variables('DataDictionary')?['Data60']",
              "item/tc_data61": "@variables('DataDictionary')?['Data61']",
              "item/tc_data62": "@variables('DataDictionary')?['Data62']",
              "item/tc_data63": "@variables('DataDictionary')?['Data63']",
              "item/tc_data64": "@variables('DataDictionary')?['Data64']",
              "item/tc_data65": "@variables('DataDictionary')?['Data65']",
              "item/tc_data66": "@variables('DataDictionary')?['Data66']",
              "item/tc_data67": "@variables('DataDictionary')?['Data67']",
              "item/tc_data68": "@variables('DataDictionary')?['Data68']",
              "item/tc_data69": "@variables('DataDictionary')?['Data69']",
              "item/aib_data7": "@variables('DataDictionary')?['Data7']",
              "item/tc_data70": "@variables('DataDictionary')?['Data70']",
              "item/tc_data71": "@variables('DataDictionary')?['Data71']",
              "item/tc_data72": "@variables('DataDictionary')?['Data72']",
              "item/tc_data73": "@variables('DataDictionary')?['Data73']",
              "item/tc_data74": "@variables('DataDictionary')?['Data74']",
              "item/tc_data75": "@variables('DataDictionary')?['Data75']",
              "item/tc_data76": "@variables('DataDictionary')?['Data76']",
              "item/tc_data77": "@variables('DataDictionary')?['Data77']",
              "item/tc_data78": "@variables('DataDictionary')?['Data78']",
              "item/tc_data79": "@variables('DataDictionary')?['Data79']",
              "item/aib_data8": "@variables('DataDictionary')?['Data8']",
              "item/tc_data80": "@variables('DataDictionary')?['Data80']",
              "item/tc_data81": "@variables('DataDictionary')?['Data81']",
              "item/tc_data82": "@variables('DataDictionary')?['Data82']",
              "item/tc_data83": "@variables('DataDictionary')?['Data83']",
              "item/tc_data84": "@variables('DataDictionary')?['Data84']",
              "item/tc_data85": "@variables('DataDictionary')?['Data85']",
              "item/tc_data86": "@variables('DataDictionary')?['Data86']",
              "item/tc_data87": "@variables('DataDictionary')?['Data87']",
              "item/tc_data88": "@variables('DataDictionary')?['Data88']",
              "item/tc_data89": "@variables('DataDictionary')?['Data89']",
              "item/aib_data9": "@variables('DataDictionary')?['Data9']",
              "item/tc_data90": "@variables('DataDictionary')?['Data90']",
              "item/tc_data91": "@variables('DataDictionary')?['Data91']",
              "item/tc_data92": "@variables('DataDictionary')?['Data92']",
              "item/tc_data93": "@variables('DataDictionary')?['Data93']",
              "item/tc_data94": "@variables('DataDictionary')?['Data94']",
              "item/tc_data95": "@variables('DataDictionary')?['Data95']",
              "item/tc_data96": "@variables('DataDictionary')?['Data96']",
              "item/tc_data97": "@variables('DataDictionary')?['Data97']",
              "item/tc_data98": "@variables('DataDictionary')?['Data98']",
              "item/tc_data99": "@variables('DataDictionary')?['Data99']",
              "item/aib_DocumentAutomationProcessing@odata.bind": "@outputs('Get_document_processing')?['body/@odata.id']",
              "item/aib_metadata1": "@variables('DataDictionary')?['Data1_confidence']",
              "item/aib_metadata10": "@variables('DataDictionary')?['Data10_confidence']",
              "item/tc_metadata100": "@variables('DataDictionary')?['Data100_confidence']",
              "item/tc_metadata101": "@variables('DataDictionary')?['Data101_confidence']",
              "item/tc_metadata102": "@variables('DataDictionary')?['Data102_confidence']",
              "item/tc_metadata103": "@variables('DataDictionary')?['Data103_confidence']",
              "item/tc_metadata104": "@variables('DataDictionary')?['Data104_confidence']",
              "item/tc_metadata105": "@variables('DataDictionary')?['Data105_confidence']",
              "item/tc_metadata106": "@variables('DataDictionary')?['Data106_confidence']",
              "item/tc_metadata107": "@variables('DataDictionary')?['Data107_confidence']",
              "item/tc_metadata108": "@variables('DataDictionary')?['Data108_confidence']",
              "item/tc_metadata109": "@variables('DataDictionary')?['Data109_confidence']",
              "item/aib_metadata11": "@variables('DataDictionary')?['Data11_confidence']",
              "item/tc_metadata110": "@variables('DataDictionary')?['Data110_confidence']",
              "item/tc_metadata111": "@variables('DataDictionary')?['Data111_confidence']",
              "item/tc_metadata112": "@variables('DataDictionary')?['Data112_confidence']",
              "item/tc_metadata113": "@variables('DataDictionary')?['Data113_confidence']",
              "item/tc_metadata114": "@variables('DataDictionary')?['Data114_confidence']",
              "item/tc_metadata115": "@variables('DataDictionary')?['Data115_confidence']",
              "item/tc_metadata116": "@variables('DataDictionary')?['Data116_confidence']",
              "item/tc_metadata117": "@variables('DataDictionary')?['Data117_confidence']",
              "item/tc_metadata118": "@variables('DataDictionary')?['Data118_confidence']",
              "item/tc_metadata119": "@variables('DataDictionary')?['Data119_confidence']",
              "item/aib_metadata12": "@variables('DataDictionary')?['Data12_confidence']",
              "item/tc_metadata120": "@variables('DataDictionary')?['Data120_confidence']",
              "item/tc_metadata121": "@variables('DataDictionary')?['Data121_confidence']",
              "item/tc_metadata122": "@variables('DataDictionary')?['Data122_confidence']",
              "item/tc_metadata123": "@variables('DataDictionary')?['Data123_confidence']",
              "item/tc_metadata124": "@variables('DataDictionary')?['Data124_confidence']",
              "item/tc_metadata125": "@variables('DataDictionary')?['Data125_confidence']",
              "item/tc_metadata126": "@variables('DataDictionary')?['Data126_confidence']",
              "item/tc_metadata127": "@variables('DataDictionary')?['Data127_confidence']",
              "item/tc_metadata128": "@variables('DataDictionary')?['Data128_confidence']",
              "item/tc_metadata129": "@variables('DataDictionary')?['Data129_confidence']",
              "item/aib_metadata13": "@variables('DataDictionary')?['Data13_confidence']",
              "item/tc_metadata130": "@variables('DataDictionary')?['Data130_confidence']",
              "item/tc_metadata131": "@variables('DataDictionary')?['Data131_confidence']",
              "item/tc_metadata132": "@variables('DataDictionary')?['Data132_confidence']",
              "item/tc_metadata133": "@variables('DataDictionary')?['Data133_confidence']",
              "item/tc_metadata134": "@variables('DataDictionary')?['Data134_confidence']",
              "item/tc_metadata135": "@variables('DataDictionary')?['Data135_confidence']",
              "item/tc_metadata136": "@variables('DataDictionary')?['Data136_confidence']",
              "item/tc_metadata137": "@variables('DataDictionary')?['Data137_confidence']",
              "item/tc_metadata138": "@variables('DataDictionary')?['Data138_confidence']",
              "item/tc_metadata139": "@variables('DataDictionary')?['Data139_confidence']",
              "item/aib_metadata14": "@variables('DataDictionary')?['Data14_confidence']",
              "item/tc_metadata140": "@variables('DataDictionary')?['Data140_confidence']",
              "item/tc_metadata141": "@variables('DataDictionary')?['Data141_confidence']",
              "item/tc_metadata142": "@variables('DataDictionary')?['Data142_confidence']",
              "item/tc_metadata143": "@variables('DataDictionary')?['Data143_confidence']",
              "item/tc_metadata144": "@variables('DataDictionary')?['Data144_confidence']",
              "item/tc_metadata145": "@variables('DataDictionary')?['Data145_confidence']",
              "item/tc_metadata146": "@variables('DataDictionary')?['Data146_confidence']",
              "item/tc_metadata147": "@variables('DataDictionary')?['Data147_confidence']",
              "item/tc_metadata148": "@variables('DataDictionary')?['Data148_confidence']",
              "item/tc_metadata149": "@variables('DataDictionary')?['Data149_confidence']",
              "item/aib_metadata15": "@variables('DataDictionary')?['Data15_confidence']",
              "item/tc_metadata150": "@variables('DataDictionary')?['Data150_confidence']",
              "item/aib_metadata16": "@variables('DataDictionary')?['Data16_confidence']",
              "item/aib_metadata17": "@variables('DataDictionary')?['Data17_confidence']",
              "item/aib_metadata18": "@variables('DataDictionary')?['Data18_confidence']",
              "item/aib_metadata19": "@variables('DataDictionary')?['Data19_confidence']",
              "item/aib_metadata2": "@variables('DataDictionary')?['Data2_confidence']",
              "item/aib_metadata20": "@variables('DataDictionary')?['Data20_confidence']",
              "item/aib_metadata21": "@variables('DataDictionary')?['Data21_confidence']",
              "item/aib_metadata22": "@variables('DataDictionary')?['Data22_confidence']",
              "item/aib_metadata23": "@variables('DataDictionary')?['Data23_confidence']",
              "item/aib_metadata24": "@variables('DataDictionary')?['Data24_confidence']",
              "item/aib_metadata25": "@variables('DataDictionary')?['Data25_confidence']",
              "item/aib_metadata26": "@variables('DataDictionary')?['Data26_confidence']",
              "item/aib_metadata27": "@variables('DataDictionary')?['Data27_confidence']",
              "item/tc_metadata28": "@variables('DataDictionary')?['Data28_confidence']",
              "item/tc_metadata29": "@variables('DataDictionary')?['Data29_confidence']",
              "item/aib_metadata3": "@variables('DataDictionary')?['Data3_confidence']",
              "item/tc_metadata30": "@variables('DataDictionary')?['Data30_confidence']",
              "item/tc_metadata31": "@variables('DataDictionary')?['Data31_confidence']",
              "item/tc_metadata32": "@variables('DataDictionary')?['Data32_confidence']",
              "item/tc_metadata33": "@variables('DataDictionary')?['Data33_confidence']",
              "item/tc_metadata34": "@variables('DataDictionary')?['Data34_confidence']",
              "item/tc_metadata35": "@variables('DataDictionary')?['Data35_confidence']",
              "item/tc_metadata36": "@variables('DataDictionary')?['Data36_confidence']",
              "item/tc_metadata37": "@variables('DataDictionary')?['Data37_confidence']",
              "item/tc_metadata38": "@variables('DataDictionary')?['Data38_confidence']",
              "item/tc_metadata39": "@variables('DataDictionary')?['Data39_confidence']",
              "item/aib_metadata4": "@variables('DataDictionary')?['Data4_confidence']",
              "item/tc_metadata40": "@variables('DataDictionary')?['Data40_confidence']",
              "item/tc_metadata41": "@variables('DataDictionary')?['Data41_confidence']",
              "item/tc_metadata42": "@variables('DataDictionary')?['Data42_confidence']",
              "item/tc_metadata43": "@variables('DataDictionary')?['Data43_confidence']",
              "item/tc_metadata44": "@variables('DataDictionary')?['Data44_confidence']",
              "item/tc_metadata45": "@variables('DataDictionary')?['Data45_confidence']",
              "item/tc_metadata46": "@variables('DataDictionary')?['Data46_confidence']",
              "item/tc_metadata47": "@variables('DataDictionary')?['Data47_confidence']",
              "item/tc_metadata48": "@variables('DataDictionary')?['Data48_confidence']",
              "item/tc_metadata49": "@variables('DataDictionary')?['Data49_confidence']",
              "item/aib_metadata5": "@variables('DataDictionary')?['Data5_confidence']",
              "item/tc_metadata50": "@variables('DataDictionary')?['Data50_confidence']",
              "item/tc_metadata51": "@variables('DataDictionary')?['Data51_confidence']",
              "item/tc_metadata52": "@variables('DataDictionary')?['Data52_confidence']",
              "item/tc_metadata53": "@variables('DataDictionary')?['Data53_confidence']",
              "item/tc_metadata54": "@variables('DataDictionary')?['Data54_confidence']",
              "item/tc_metadata55": "@variables('DataDictionary')?['Data55_confidence']",
              "item/tc_metadata56": "@variables('DataDictionary')?['Data56_confidence']",
              "item/tc_metadata57": "@variables('DataDictionary')?['Data57_confidence']",
              "item/tc_metadata58": "@variables('DataDictionary')?['Data58_confidence']",
              "item/tc_metadata59": "@variables('DataDictionary')?['Data59_confidence']",
              "item/aib_metadata6": "@variables('DataDictionary')?['Data6_confidence']",
              "item/tc_metadata60": "@variables('DataDictionary')?['Data60_confidence']",
              "item/tc_metadata61": "@variables('DataDictionary')?['Data61_confidence']",
              "item/tc_metadata62": "@variables('DataDictionary')?['Data62_confidence']",
              "item/tc_metadata63": "@variables('DataDictionary')?['Data63_confidence']",
              "item/tc_metadata64": "@variables('DataDictionary')?['Data64_confidence']",
              "item/tc_metadata65": "@variables('DataDictionary')?['Data65_confidence']",
              "item/tc_metadata66": "@variables('DataDictionary')?['Data66_confidence']",
              "item/tc_metadata67": "@variables('DataDictionary')?['Data67_confidence']",
              "item/tc_metadata68": "@variables('DataDictionary')?['Data68_confidence']",
              "item/tc_metadata69": "@variables('DataDictionary')?['Data69_confidence']",
              "item/aib_metadata7": "@variables('DataDictionary')?['Data7_confidence']",
              "item/tc_metadata70": "@variables('DataDictionary')?['Data70_confidence']",
              "item/tc_metadata71": "@variables('DataDictionary')?['Data71_confidence']",
              "item/tc_metadata72": "@variables('DataDictionary')?['Data72_confidence']",
              "item/tc_metadata73": "@variables('DataDictionary')?['Data73_confidence']",
              "item/tc_metadata74": "@variables('DataDictionary')?['Data74_confidence']",
              "item/tc_metadata75": "@variables('DataDictionary')?['Data75_confidence']",
              "item/tc_metadata76": "@variables('DataDictionary')?['Data76_confidence']",
              "item/tc_metadata77": "@variables('DataDictionary')?['Data77_confidence']",
              "item/tc_metadata78": "@variables('DataDictionary')?['Data78_confidence']",
              "item/tc_metadata79": "@variables('DataDictionary')?['Data79_confidence']",
              "item/aib_metadata8": "@variables('DataDictionary')?['Data8_confidence']",
              "item/tc_metadata80": "@variables('DataDictionary')?['Data80_confidence']",
              "item/tc_metadata81": "@variables('DataDictionary')?['Data81_confidence']",
              "item/tc_metadata82": "@variables('DataDictionary')?['Data82_confidence']",
              "item/tc_metadata83": "@variables('DataDictionary')?['Data83_confidence']",
              "item/tc_metadata84": "@variables('DataDictionary')?['Data84_confidence']",
              "item/tc_metadata85": "@variables('DataDictionary')?['Data85_confidence']",
              "item/tc_metadata86": "@variables('DataDictionary')?['Data86_confidence']",
              "item/tc_metadata87": "@variables('DataDictionary')?['Data87_confidence']",
              "item/tc_metadata88": "@variables('DataDictionary')?['Data88_confidence']",
              "item/tc_metadata89": "@variables('DataDictionary')?['Data89_confidence']",
              "item/aib_metadata9": "@variables('DataDictionary')?['Data9_confidence']",
              "item/tc_metadata90": "@variables('DataDictionary')?['Data90_confidence']",
              "item/tc_metadata91": "@variables('DataDictionary')?['Data91_confidence']",
              "item/tc_metadata92": "@variables('DataDictionary')?['Data92_confidence']",
              "item/tc_metadata93": "@variables('DataDictionary')?['Data93_confidence']",
              "item/tc_metadata94": "@variables('DataDictionary')?['Data94_confidence']",
              "item/tc_metadata95": "@variables('DataDictionary')?['Data95_confidence']",
              "item/tc_metadata96": "@variables('DataDictionary')?['Data96_confidence']",
              "item/tc_metadata97": "@variables('DataDictionary')?['Data97_confidence']",
              "item/tc_metadata98": "@variables('DataDictionary')?['Data98_confidence']",
              "item/tc_metadata99": "@variables('DataDictionary')?['Data99_confidence']",
              "item/ownerid@odata.bind": "teams(@{triggerOutputs()?['body/_ownerid_value']})"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Set_Predict_failed": {
          "runAfter": {
            "Predict": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "ec5ea0c0-65f3-4f5d-a599-0d97d51438b1"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "aib_documentautomationprocessings",
              "recordId": "@triggerOutputs()?['body/aib_documentautomationprocessingid']",
              "item/aib_processingstatus": 914700006
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Predict": {
          "runAfter": {
            "Get_Model_type": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "63fab294-fcee-48d0-91c6-18c44c778036"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "PerformBoundAction",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msdyn_aimodels",
              "actionName": "Microsoft.Dynamics.CRM.Predict",
              "recordId": "@outputs('Get_model_to_use')?['body/_aib_msdyn_aimodel_value']",
              "item/version": "1.0",
              "item/request": "{\"mimeType\":\"@{triggerOutputs()?['body/aib_filemimetype']}\",\"base64Encoded\":\"@{base64(outputs('Get_attachment')?['body'])}\"}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_model_to_use": {
          "runAfter": {
            "Get_attachment": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9116107a-1527-4a0c-9c67-95b672e4a499"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "aib_documentautomationconfigurations",
              "recordId": "@triggerOutputs()?['body/_aib_documentautomationconfigurati_value']",
              "$select": "_aib_msdyn_aimodel_value"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_label_to_field_mapping": {
          "runAfter": {
            "Predict": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cae27366-5248-4ebe-8e3a-b020501982e7"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "aib_documentautomationtaxonomies",
              "$select": "aib_name,aib_mappedcolumn",
              "$filter": "_aib_documentautomationconfigurati_value eq '@{triggerOutputs()?['body/_aib_documentautomationconfigurati_value']}' and aib_mappedcolumn ne null",
              "$orderby": "aib_index"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable_DataDictionary": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "8c1b7063-1593-4b7c-95b8-485228f4c19d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DataDictionary",
                "type": "object",
                "value": {}
              }
            ]
          }
        },
        "Extract_values": {
          "foreach": "@outputs('Get_label_to_field_mapping')?['body/value']",
          "actions": {
            "_Check_Model_Type": {
              "runAfter": {},
              "cases": {
                "Case": {
                  "case": "Invoice Processing Model",
                  "actions": {
                    "Get_extracted_value_Invoice_Processing": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "09608299-5c98-40ef-82d6-42b915a5da45"
                      },
                      "type": "Compose",
                      "inputs": "@if(empty(items('Extract_values')?['aib_mappedcolumn']), null, json(outputs('Predict')?['body/response'])['predictionOutput']?['result']?['fields']?[items('Extract_values')?['aib_mappedcolumn']]?['valueText'])"
                    },
                    "Set_variable_DataDictionary_with_extracted_data_Invoice_Processing": {
                      "runAfter": {
                        "Set_extracted_value_Invoice_Processing": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "b98b65ab-7c07-4102-825e-133e552e4a2f"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "DataDictionary",
                        "value": "@outputs('Set_extracted_value_Invoice_Processing')"
                      }
                    },
                    "Set_extracted_value_Invoice_Processing": {
                      "runAfter": {
                        "Get_extracted_value_Invoice_Processing": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c2acabb4-dbd9-4edb-8498-20f229433585"
                      },
                      "type": "Compose",
                      "inputs": "@setProperty(variables('DataDictionary'), items('Extract_values')?['aib_name'], outputs('Get_extracted_value_Invoice_Processing'))"
                    },
                    "Get_extracted_value_confidence_Invoice_Processing": {
                      "runAfter": {
                        "Set_variable_DataDictionary_with_extracted_data_Invoice_Processing": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "68b052c3-170e-48ce-822c-927fa295f67a"
                      },
                      "type": "Compose",
                      "inputs": "@if(or(empty(items('Extract_values')?['aib_mappedcolumn']), empty(outputs('Get_extracted_value_Invoice_Processing'))), null, concat('{\"confidence\":', coalesce(json(outputs('Predict')?['body/response'])['predictionOutput']?['result']?['fields']?[items('Extract_values')?['aib_mappedcolumn']]?['confidence'], '0.0'),'}'))"
                    },
                    "Set_variable_DataDictionary_with_confidence_Invoice_Processing": {
                      "runAfter": {
                        "Set_extracted_value_confidence_Invoice_Processing": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c0e71ff0-63f9-49c0-8fc1-b4f4fb8990d7"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "DataDictionary",
                        "value": "@outputs('Set_extracted_value_confidence_Invoice_Processing')"
                      }
                    },
                    "Set_extracted_value_confidence_Invoice_Processing": {
                      "runAfter": {
                        "Get_extracted_value_confidence_Invoice_Processing": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "6eceeded-3183-45b5-85e2-9953bd466e38"
                      },
                      "type": "Compose",
                      "inputs": "@setProperty(variables('DataDictionary'), concat(items('Extract_values')?['aib_name'], '_confidence'), outputs('Get_extracted_value_confidence_Invoice_Processing'))"
                    }
                  }
                }
              },
              "default": {
                "actions": {
                  "Get_extracted_value": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "752db508-8653-477f-b9c2-45ecc554fe20"
                    },
                    "type": "Compose",
                    "inputs": "@if(empty(items('Extract_values')?['aib_mappedcolumn']), null, json(outputs('Predict')?['body/response'])['predictionOutput']?['labels']?[items('Extract_values')?['aib_mappedcolumn']]?['value'])"
                  },
                  "Set_variable_DataDictionary_with_extracted_data": {
                    "runAfter": {
                      "Set_extracted_value": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "ee7726f9-ab18-47fd-a9d5-3bf32c388877"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "DataDictionary",
                      "value": "@outputs('Set_extracted_value')"
                    }
                  },
                  "Set_extracted_value": {
                    "runAfter": {
                      "Get_extracted_value": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "7b9a8d1e-c55f-4019-82aa-ed5e0036db14"
                    },
                    "type": "Compose",
                    "inputs": "@setProperty(variables('DataDictionary'), items('Extract_values')?['aib_name'], outputs('Get_extracted_value'))"
                  },
                  "Get_extracted_value_confidence": {
                    "runAfter": {
                      "Set_variable_DataDictionary_with_extracted_data": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "090f4057-6054-40a3-95bc-c6733fdd8305"
                    },
                    "type": "Compose",
                    "inputs": "@if(empty(items('Extract_values')?['aib_mappedcolumn']), null, concat('{\"confidence\":', coalesce(json(outputs('Predict')?['body/response'])['predictionOutput']?['labels']?[items('Extract_values')?['aib_mappedcolumn']]?['confidence'], '0.0'),'}'))"
                  },
                  "Set_variable_DataDictionary_with_confidence": {
                    "runAfter": {
                      "Set_extracted_value_confidence": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "0305d7e1-83e8-4c02-bfe3-91bd642bd6c1"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "DataDictionary",
                      "value": "@outputs('Set_extracted_value_confidence')"
                    }
                  },
                  "Set_extracted_value_confidence": {
                    "runAfter": {
                      "Get_extracted_value_confidence": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "0a0f3305-75e7-4723-ac1a-50afa2b8b056"
                    },
                    "type": "Compose",
                    "inputs": "@setProperty(variables('DataDictionary'), concat(items('Extract_values')?['aib_name'], '_confidence'), outputs('Get_extracted_value_confidence'))"
                  }
                }
              },
              "expression": "@outputs('Get_Model_type')?['body/msdyn_name']",
              "metadata": {
                "operationMetadataId": "70af56e9-6eeb-47ed-b320-36f783fc74fd"
              },
              "type": "Switch"
            }
          },
          "runAfter": {
            "Get_label_to_field_mapping": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9a8dd6b6-b4d5-4461-854f-e3e887ff947b"
          },
          "type": "Foreach"
        },
        "Get_table_label_to_field_mapping": {
          "runAfter": {
            "Create_document_processing_data": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d2145320-ec45-4adf-9e18-8abe651a469a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "aib_documentautomationtabletaxonomies",
              "$select": "aib_tablename, aib_name, aib_mappedcolumn",
              "$filter": "_aib_documentautomationconfigurati_value eq '@{triggerOutputs()?['body/_aib_documentautomationconfigurati_value']}'",
              "$orderby": "aib_tablename, aib_index"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Extract_tables_taxonomies": {
          "foreach": "@outputs('Get_table_label_to_field_mapping')?['body/value']",
          "actions": {
            "Condition": {
              "actions": {
                "Reset_variable_TableTaxonomy": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "5c65ccc6-a5e8-4a7b-8e13-f25fa8a3f7d1"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "TableTaxonomy",
                    "value": []
                  }
                },
                "Append_to_array_variable": {
                  "runAfter": {
                    "Reset_variable_TableTaxonomy": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6bfd0af1-838b-4e48-83e0-fff7c2fa5841"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "TableNames",
                    "value": "@items('Extract_tables_taxonomies')?['aib_tablename']"
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "not": {
                  "contains": [
                    "@variables('TableNames')",
                    "@items('Extract_tables_taxonomies')?['aib_tablename']"
                  ]
                }
              },
              "metadata": {
                "operationMetadataId": "b268fa98-ff25-4ba3-a2d9-d726ff7a3dd2"
              },
              "type": "If"
            },
            "Set_variable_TableTaxonomyDictionary": {
              "runAfter": {
                "Update_table_taxonomies": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "98f56815-2872-4a6b-bb4a-b9db701b11ab"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "TableTaxonomyDictionary",
                "value": "@outputs('Update_table_taxonomies')"
              }
            },
            "Append_to_array_variable_TableTaxonomy": {
              "runAfter": {
                "Condition": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b937d242-16de-4c0f-a2b5-4c2559fa5f2a"
              },
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "TableTaxonomy",
                "value": "@coalesce(items('Extract_tables_taxonomies')?['aib_mappedcolumn'], '')"
              }
            },
            "Update_table_taxonomies": {
              "runAfter": {
                "Append_to_array_variable_TableTaxonomy": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "33ff2a4a-9f40-444b-8ce7-a9ec813ce744"
              },
              "type": "Compose",
              "inputs": "@setProperty(variables('TableTaxonomyDictionary'), items('Extract_tables_taxonomies')?['aib_tablename'], variables('TableTaxonomy'))"
            }
          },
          "runAfter": {
            "Get_table_label_to_field_mapping": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "da868d8d-0535-47e0-82df-9958a157a9eb"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 1
            }
          }
        },
        "Initialize_variable_TableRows": {
          "runAfter": {
            "Initialize_variable_TableTaxonomy": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "eb1e9fd3-8732-4ca5-b57b-fdcf7452adc1"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TableRows",
                "type": "array",
                "value": []
              }
            ]
          }
        },
        "Initialize_variable_TableNames": {
          "runAfter": {
            "Initialize_variable_DataDictionary": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "06e68f64-4840-43e2-8727-da1ee288d387"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TableNames",
                "type": "array",
                "value": []
              }
            ]
          }
        },
        "Initialize_variable_TableTaxonomy": {
          "runAfter": {
            "Initialize_variable_TableTaxonomyDictionary": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "46821cdd-e749-45e7-8e39-a05a0bf57d93"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TableTaxonomy",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_variable_TableTaxonomyDictionary": {
          "runAfter": {
            "Initialize_variable_TableNames": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "027a5e68-b76e-45ce-9e0e-dfacbeeb13ab"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TableTaxonomyDictionary",
                "type": "object",
                "value": {}
              }
            ]
          }
        },
        "Extract_tables_data": {
          "foreach": "@variables('TableNames')",
          "actions": {
            "_Check_Model_Type_Again": {
              "runAfter": {},
              "cases": {
                "Case": {
                  "case": "Invoice Processing Model",
                  "actions": {
                    "Set_Table_Rows_Invoice_Processing": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "5b918281-9462-4750-9d67-3f1520255dff"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "TableRows",
                        "value": "@json(outputs('Predict')?['body/response'])['predictionOutput']?['result']?[items('Extract_tables_data')]"
                      }
                    },
                    "Extract_table_row_Invoice_Processing": {
                      "foreach": "@variables('TableRows')",
                      "actions": {
                        "Create_document_automation_table_Data_Invoice_Processing": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "65d02ea8-9b47-47df-b8c6-4dc1df6bfdbe"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "aib_documentautomationtabledatas",
                              "item/aib_name": "@guid()",
                              "item/aib_tablename": "@items('Extract_tables_data')",
                              "item/aib_data1": "@if(equals(variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][0],''), \tnull, json(string(items('Extract_table_row_invoice_processing')))['fields']?[variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][0]]?['valueText'])",
                              "item/aib_data10": "@if(equals(variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][9],''), \tnull, json(string(items('Extract_table_row_invoice_processing')))['fields']?[variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][9]]?['valueText'])",
                              "item/aib_data2": "@if(equals(variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][1],''), \tnull, json(string(items('Extract_table_row_invoice_processing')))['fields']?[variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][1]]?['valueText'])",
                              "item/aib_data3": "@if(equals(variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][2],''), \tnull, json(string(items('Extract_table_row_invoice_processing')))['fields']?[variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][2]]?['valueText'])",
                              "item/aib_data4": "@if(equals(variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][3],''), \tnull, json(string(items('Extract_table_row_invoice_processing')))['fields']?[variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][3]]?['valueText'])",
                              "item/aib_data5": "@if(equals(variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][4],''), \tnull, json(string(items('Extract_table_row_invoice_processing')))['fields']?[variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][4]]?['valueText'])",
                              "item/aib_data6": "@if(equals(variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][5],''), \tnull, json(string(items('Extract_table_row_invoice_processing')))['fields']?[variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][5]]?['valueText'])",
                              "item/aib_data7": "@if(equals(variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][6],''), \tnull, json(string(items('Extract_table_row_invoice_processing')))['fields']?[variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][6]]?['valueText'])",
                              "item/aib_data8": "@if(equals(variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][7],''), \tnull, json(string(items('Extract_table_row_invoice_processing')))['fields']?[variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][7]]?['valueText'])",
                              "item/aib_data9": "@if(equals(variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][8],''), \tnull, json(string(items('Extract_table_row_invoice_processing')))['fields']?[variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][8]]?['valueText'])",
                              "item/aib_DocumentAutomationProcessing@odata.bind": "@outputs('Get_document_processing')?['body/@odata.id']",
                              "item/ownerid@odata.bind": "teams(@{triggerOutputs()?['body/_ownerid_value']})"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      },
                      "runAfter": {
                        "Set_Table_Rows_Invoice_Processing": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "b20c1cd6-1e0e-48ec-aac0-22fab6f50913"
                      },
                      "type": "Foreach"
                    }
                  }
                }
              },
              "default": {
                "actions": {
                  "Set_Table_Rows": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "326d25ab-c742-4eac-83de-155b1662889b"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "TableRows",
                      "value": "@json(outputs('Predict')?['body/response'])['predictionOutput']?['tables']?[items('Extract_tables_data')]?['entries']"
                    }
                  },
                  "Extract_table_row": {
                    "foreach": "@variables('TableRows')",
                    "actions": {
                      "Create_document_automation_table_Data": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "7ef3537d-7ea1-4532-8b1c-0b91a5678ac1"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "CreateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "aib_documentautomationtabledatas",
                            "item/aib_name": "@guid()",
                            "item/aib_tablename": "@items('Extract_tables_data')",
                            "item/aib_data1": "@if(equals(variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][0],''), null, if(contains(json(string(items('Extract_table_row'))), variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][0]), json(string(items('Extract_table_row')))[variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][0]]?['value'], null))",
                            "item/aib_data10": "@if(equals(variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][9],''), null, if(contains(json(string(items('Extract_table_row'))), variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][9]), json(string(items('Extract_table_row')))[variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][9]]?['value'], null))",
                            "item/aib_data2": "@if(equals(variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][1],''), null, if(contains(json(string(items('Extract_table_row'))), variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][1]), json(string(items('Extract_table_row')))[variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][1]]?['value'], null))",
                            "item/aib_data3": "@if(equals(variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][2],''), null, if(contains(json(string(items('Extract_table_row'))), variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][2]), json(string(items('Extract_table_row')))[variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][2]]?['value'], null))",
                            "item/aib_data4": "@if(equals(variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][3],''), null, if(contains(json(string(items('Extract_table_row'))), variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][3]), json(string(items('Extract_table_row')))[variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][3]]?['value'], null))",
                            "item/aib_data5": "@if(equals(variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][4],''), null, if(contains(json(string(items('Extract_table_row'))), variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][4]), json(string(items('Extract_table_row')))[variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][4]]?['value'], null))",
                            "item/aib_data6": "@if(equals(variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][5],''), null, if(contains(json(string(items('Extract_table_row'))), variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][5]), json(string(items('Extract_table_row')))[variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][5]]?['value'], null))",
                            "item/aib_data7": "@if(equals(variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][6],''), null, if(contains(json(string(items('Extract_table_row'))), variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][6]), json(string(items('Extract_table_row')))[variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][6]]?['value'], null))",
                            "item/aib_data8": "@if(equals(variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][7],''), null, if(contains(json(string(items('Extract_table_row'))), variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][7]), json(string(items('Extract_table_row')))[variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][7]]?['value'], null))",
                            "item/aib_data9": "@if(equals(variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][8],''), null, if(contains(json(string(items('Extract_table_row'))), variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][8]), json(string(items('Extract_table_row')))[variables('TableTaxonomyDictionary')?[items('Extract_tables_data')][8]]?['value'], null))",
                            "item/aib_DocumentAutomationProcessing@odata.bind": "@outputs('Get_document_processing')?['body/@odata.id']",
                            "item/ownerid@odata.bind": "teams(@{triggerOutputs()?['body/_ownerid_value']})"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {
                      "Set_Table_Rows": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "3b909c5c-28cf-4782-933e-88b82da1ecc5"
                    },
                    "type": "Foreach"
                  }
                }
              },
              "expression": "@outputs('Get_Model_type')?['body/msdyn_name']",
              "metadata": {
                "operationMetadataId": "90330842-a864-4771-85e4-0b56b6d3afff"
              },
              "type": "Switch"
            }
          },
          "runAfter": {
            "Extract_tables_taxonomies": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "161299da-fae8-4425-ac62-6e52965e67ae"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 1
            }
          }
        },
        "Update_processing_status": {
          "runAfter": {
            "Extract_tables_data": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7920a4f2-1032-473f-aed0-b0a961468037"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "aib_documentautomationprocessings",
              "recordId": "@triggerOutputs()?['body/aib_documentautomationprocessingid']",
              "item/aib_processingstatus": 914700002
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Model_type": {
          "runAfter": {
            "Get_model_to_use": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d84134a8-1a71-4aa3-85e6-24c574f7082e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msdyn_aimodels",
              "recordId": "@outputs('Get_model_to_use')?['body/_aib_msdyn_aimodel_value']",
              "$select": "msdyn_name"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_document_processing": {
          "runAfter": {
            "Extract_values": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f71d8f98-a033-45d3-9123-f93c99a5e6f9"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "aib_documentautomationprocessings",
              "recordId": "@triggerOutputs()?['body/aib_documentautomationprocessingid']",
              "$select": "aib_documentautomationprocessingid"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}