Documenttoolkit/Solution/Workflows/DocumentAutomationEmailImporterChildFlow-A19FF5A3-8143-EF11-A316-0022483BF2F0.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "aib_currentcommondataserviceconnection"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "ba58a529-ef90-457b-b080-c19074864374"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Attachments",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "description": "Please enter your input",
                  "title": "Model Id",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "title": "Team Name",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text_1",
                "text_2"
              ]
            },
            "headersSchema": {
              "x-ms-user-timestamp": {
                "title": "Timestamp",
                "type": "string",
                "x-ms-dynamically-added": false
              }
            }
          }
        }
      },
      "actions": {
        "For_each_attachment": {
          "foreach": "@outputs('String_to_Array')",
          "actions": {
            "If_attachment_is_not_inline": {
              "actions": {
                "Get_configuration": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "f8c6ccd3-b7f2-4825-b0f9-1e0e4a9f7af7"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "aib_documentautomationconfigurations",
                      "$filter": "aib_configurationstatus eq 914700000 and _aib_msdyn_aimodel_value eq '@{triggerBody()?['text_1']}' and statecode eq 0",
                      "$top": 1
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                },
                "For_each_configuration": {
                  "foreach": "@outputs('Get_configuration')?['body/value']",
                  "actions": {
                    "Upload_attachment": {
                      "runAfter": {
                        "Create_a_new_document_processing": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "2e1360f7-3bb7-4548-be3a-28c6c158bcd5"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateEntityFileImageFieldContent",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "aib_documentautomationprocessings",
                          "recordId": "@outputs('Create_a_new_document_processing')?['body/aib_documentautomationprocessingid']",
                          "fileImageFieldName": "aib_filedata",
                          "item": "@base64ToBinary(items('For_each_attachment')?['contentBytes'])",
                          "x-ms-file-name": "Untitled"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        }
                      },
                      "runtimeConfiguration": {
                        "secureData": {
                          "properties": [
                            "inputs"
                          ]
                        }
                      }
                    },
                    "Check_content_type_is_valid": {
                      "actions": {
                        "Update_document_processing_to_start_extraction": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "92af7f7e-4663-48c8-b6c1-c5611f8bdeb5"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "UpdateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "aib_documentautomationprocessings",
                              "recordId": "@outputs('Create_a_new_document_processing')?['body/aib_documentautomationprocessingid']",
                              "item/aib_processingstatus": 914700001
                            },
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Upload_attachment": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Update_document_processing_invalid_document": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "61702b6c-63f3-46a3-95e4-9cabbb957afe"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps_1",
                                "operationId": "UpdateRecord",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "aib_documentautomationprocessings",
                                "recordId": "@outputs('Create_a_new_document_processing')?['body/aib_documentautomationprocessingid']",
                                "item/aib_processingstatus": 914700005
                              },
                              "authentication": {
                                "type": "Raw",
                                "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                              }
                            }
                          }
                        }
                      },
                      "expression": {
                        "or": [
                          {
                            "equals": [
                              "@items('For_each_attachment')?['contentType']",
                              "application/pdf"
                            ]
                          },
                          {
                            "equals": [
                              "@items('For_each_attachment')?['contentType']",
                              "image/jpeg"
                            ]
                          },
                          {
                            "equals": [
                              "@items('For_each_attachment')?['contentType']",
                              "image/png"
                            ]
                          }
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "8aac7da1-abd0-4b7d-a341-268415f0a484"
                      },
                      "type": "If"
                    },
                    "Create_a_new_document_processing": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "634bc1d6-38a4-4faf-bdc5-9fe9c6a1117e"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "aib_documentautomationprocessings",
                          "item/aib_name": "@utcNow()",
                          "item/aib_DocumentAutomationConfigurati@odata.bind": "@items('For_each_configuration')?['@odata.id']",
                          "item/aib_filemimetype": "@items('For_each_attachment')?['contentType']",
                          "item/aib_filename": "@items('For_each_attachment')?['name']",
                          "item/ownerid@odata.bind": "teams(@{first(body('List_Teams')?['value'])?['teamid']})",
                          "item/aib_processingstatus": 914700000
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "List_Teams": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "bedcd9c7-b864-47e8-865b-c4aa3af537b3"
                  },
                  "type": "Foreach"
                },
                "List_Teams": {
                  "runAfter": {
                    "Get_configuration": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "250a59e8-9e6e-46ee-9ac3-6cf6f468ae0f"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "teams",
                      "$select": "teamid",
                      "$filter": "name eq '@{triggerBody()['text_2']}'",
                      "$top": 1
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "equals": [
                  "@items('For_each_attachment')?['isInline']",
                  false
                ]
              },
              "metadata": {
                "operationMetadataId": "4823d030-1c16-49ca-9cd8-eb60e87eea8c"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "String_to_Array": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "394fbc62-f2f7-418d-8fdb-3163ece870e6"
          },
          "type": "Foreach"
        },
        "Respond_to_a_Power_App_or_flow": {
          "runAfter": {
            "For_each_attachment": [
              "Succeeded",
              "Failed",
              "TimedOut",
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "25aa6e23-9d8f-4742-83a3-1f6bb85a0538"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "response": "@{utcNow()}"
            },
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "title": "Response",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "String_to_Array": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "9b1be7b8-f404-439e-927e-f06a0498703f"
          },
          "type": "Compose",
          "inputs": "@json(triggerBody()['text'])"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}